@model StoreViewModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="m-5">Add New Store <i class="fa-solid fa-shop"></i> </h1>
<form action="/Store/Create" method="post" enctype="multipart/form-data">

    <partial name="PartialViews/CreateEditStorePartial" />

    <div class="h-100 d-flex flex-row justify-content-end align-items-end">
        <button mdbRipple data-mdb-ripple-init type="submit" class="btn btn-success btn-lg m-2"> <i class="fa-solid fa-check"></i> Add Store </button>
    </div>
    <div class="h-100 d-flex flex-row justify-content-end align-items-end">
        <a asp-controller="Store" asp-action="index" mdbRipple data-mdb-ripple-init class="btn btn-outline-success btn-lg m-2"> <i class="fa-solid fa-angles-left"></i> Back To Stores </a>
    </div>
    </form>
@section ValidationScriptSection
{
<partial name="_ValidationScriptsPartial" />
}
