@* 
@{
    ViewData["Title"] = "Index";
}

<h1>Stock</h1>
<div class="form-group">
    <label class="col-form-label" asp-for="Store"></label>
    <select asp-for="Store" class="form-control" asp-items="ViewBag.StoreList"></select>
</div>

 *@